.card_stacker {
  position: relative;
}

.card_stacker > .stack_card {
  position: absolute;
  top: 0;
  bottom: 0;
  visibility: hidden;
}

.card_stacker > .stack_card:first-child {
  z-index: 2;
  visibility: visible;
}
