<mat-card class="match-card no_select">
  <div class="card-image-container">
    <div class="quick_detail_holder horizontal_padding_24">
      <h3 class="quick_details color_white text_align_left">
        <strong>{{user.fullName}}, {{user.age}}</strong>
      </h3>
    </div>
  </div>
  <mat-card-content class="match_description horizontal_padding_24">
    <p class="text_align_left">{{user.description}}</p>
  </mat-card-content>
  <mat-card-actions class="no_margin">
    <button class="action_button no_padding" mat-button>
      <mat-icon aria-hidden="true" class="large_icon">close</mat-icon>
    </button>
    <button class="action_button no_padding no_margin" mat-button>
      <mat-icon aria-hidden="true" color="primary" class="large_icon">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
